@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
.hero_section{
    background-image: url(./Images/hero.jpg);
    height: 100vh;background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.dot{
   border: 2px solid white;
   border-radius: 10px;
   width: 25px;
   text-align: center;
   height: 43px;
   margin-top: 100px;
}
.logo{
    font-size: 50px;
    border: 2px solid white;
    border-radius: 50%;
    width: 80px;
}
.services_section{
    background-image: url(./Images/cto.jpg);
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.row .col img{
    margin: 5px;
}
.contact_section{
    background-image: url(./Images/garage.jpg);
    background-size: cover;
    overflow: hidden;
    /* height: 75vh; */
    color: white;
}
.contact_section input{
    background: transparent;
}
.contact_section textarea{
    background: transparent;
    margin-top: 10px;
}
.contact_section input::placeholder{
    color: white;
}
.contact_section textarea::placeholder{
    color: white;
}
.contact_section .btn{
    border: 2px solid black;
    margin-top: 10px;
}
footer div{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    margin: 5px;
}
/* jquery */
.text{
    width: 300px;
}

.serve{
    padding-top: 100px;
    padding-bottom: 100px;
}
.image:hover{
    cursor: pointer;
}
.img1,.img2,.img3:hover{
    cursor: pointer;
}
.para1,.para2,.para3:hover{
    cursor: pointer;
}
.img{
    position: relative;
    z-index: -1;
}
.project{
    position: absolute;
    margin-top: -140px;
    margin-left: 60px;
    font-weight: bolder;
    border: 3px solid black;
    color: black;
    z-index: 1;
    padding: 6px;
    display: none;
}
.image:hover .project{
    display: block;
}
/* media querry */
@media (max-width:768px){
    .serve{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icons{
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .services_section{
        height: 70vh;
    }
    .image:hover .project{
        display: none;
    }
}